.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 100%;
    height: 609px;
    background-color: rgb(255, 255, 255);
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
}

.modal__close-btn:hover .modal__close-btn-icon,
.modal__close-btn:focus .modal__close-btn-icon {
    fill: var(--accent-color);
}

@media screen and (min-width: 480px) {
    .modal {
        width: 450px;
    }
}

@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px;
    }
}
// .modal {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     padding: 40px;
//     width: 528px;
//     height: 581px;
//     background-color: rgb(255, 255, 255);
// }

// .modal__close-btn {
//     position: absolute;
//     top: 8px;
//     right: 8px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 30px;
//     height: 30px;
//     background-color: transparent;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 50%;
//     padding: 0;
// }

// .modal__close-btn:hover .modal__close-btn-icon,
// .modal__close-btn:focus .modal__close-btn-icon {
//     fill: var(--accent-color);
// }
